<% if (error) { %>
  <div class="text-danger"><%= error %></div>
<% } else if (typeof total !== 'undefined' && total !== null) { %>
  <div><strong>Jumla:</strong> TZS <%= Number(total).toLocaleString('en-US') %></div>
<% } %>

